/* body {
    background-image: url("sky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

body {
    background: url("pictures/sun.png") no-repeat, url("pictures/sky-drawing.png") no-repeat center center fixed;
    -moz-background-size: 25vw, cover;
    -webkit-background-size: 25vw, cover;
    -o-background-size: 25vw, cover;
    background-size: 25vw, cover;
}


.navbar {
    margin: 0;
    padding: 0;
    height: 50px;
    border-bottom: 2px solid transparent;
    display: block;
}

.navbar ul {
    list-style-type: none;
    float: right;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    font-family: monospace, sans-serif;
    margin: 20px;
    color: grey;
    background:linear-gradient(180deg, transparent 60%, lightblue 60%);
}

.date {
    margin: 20px;
    font-family: monospace, sans-serif;
    color: grey;
    text-align: end;
}

.login-box {
    margin-top: 110px;
}



form {
    font-family: sans-serif;
    height: fit-content;
    width: fit-content;
    border: 2px solid wheat;
    border-radius: 10px;
    margin: 60px auto 40px auto;
    padding: 0 25px;
    align-content: center;
    /* position: relative; */
    background-color: wheat;
}

.login-form {
    width: 25vw; 
}



form * {
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.question {
    text-align: center;
}

.goal {
    padding-bottom: 10px;
}

.goal-question {
    text-align: center;
}

input[type="submit"], input[type="reset"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: lightblue;
    color: black;
}

input {
    padding: 10px;
    margin-top: 10px;
}

input, label {
    border-radius: 20px;
    width: 50%;
    max-width: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: lightblue;
    height: 10px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -2px;
    background-color: salmon;
    height: 14px;
    width: 12px;
    border-radius: 6px;
}

.quote {
    font-family: monospace;
    font-size: 40px;
    padding: 60px;
    margin: 40px 40px 0px 40px;
    text-align: center;
}

.night-entry {
    width: fit-content;
    border-radius: 15px;
}

.response-container {
    margin: 0 7%;
    text-align: center;
}

.response-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.response-check input[type="text"], input[type="checkbox"]{
    margin: auto 0;
}

input[type="text"] {
    width: fit-content;
}

label {
    text-align: center;
}

textarea {
    border-radius: 10px;
}

.journal-retrieve {
    width: 30vw;
    margin: 100px auto auto auto;
}

.day-results {
    text-align: center;
    font-family: sans-serif;
    color: grey;
    font-weight: light;
    background-color: wheat;
    width: 30vw;
    padding: 20px 40px;
    margin: 100px auto;
    border-radius: 10px;
}

/* .day-results h1 {

} */

.journal-entry {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: brown;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.goal-reflect {
    font-family: sans-serif;
    color: grey;
}