/* body {
    background: url("pictures/night-sky.png") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

body {
    background: url("pictures/moon.png") no-repeat, url("pictures/night-sky.png") no-repeat center center fixed;
    -moz-background-size: 20vw, cover;
    -webkit-background-size: 20vw, cover;
    -o-background-size: 20vw, cover;
    background-size: 20vw, cover;
    -webkit-transition: 1000ms linear, none;
    -ms-transition: 1000ms linear, none;
    transition: 1000ms linear, none;
}

/* .navbar::before {
    content: '';
    background: url("pictures/moon.png");
    position:absolute;
    top:0px;
    left:0px;
    z-index: -1;
} */

.navbar {
    margin: 0;
    padding: 0;
    height: 50px;
    /* border-bottom: 2px solid #f0c420; */
}

.navbar ul {
    list-style-type: none;
    float: right;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    font-family: monospace, sans-serif;
    margin: 20px;
    color: white;
    background:linear-gradient(180deg, transparent 70%, #f0c420 60%);
}

.date {
    margin: auto;
    font-family: monospace, sans-serif;
    color: white;
}

.moving {
    background-image: url("pictures/moon.png");
    background-repeat: no-repeat;
    /* background-position: top -10px left -270px; */
    height: 50vh;
    padding: 0px;
    margin: 0px;
    top: -200px;
    left: -100px;
    z-index: -1;
}

/* .moving {
    
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
} */

form {
    font-family: sans-serif;
    height: fit-content;
    width: 30vw;
    border: 2px solid wheat;
    border-radius: 10px;
    margin: 40px auto;
    align-content: center;
    /* position: relative; */
    background-color: wheat;
}

form * {
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.question {
    text-align: center;
}

.goal {
    padding-bottom: 10px;
}

input[type="submit"], input[type="reset"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: lightblue;
    color: black;
}

input {
    padding: 10px;
    margin-top: 10px;
}

input, label {
    border-radius: 20px;
    width: 50%;
    max-width: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: lightblue;
    height: 10px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -2px;
    background-color: salmon;
    height: 14px;
    width: 12px;
    border-radius: 6px;
}

.quote {
    font-family: monospace;
    font-size: 40px;
    padding: 40px;
    margin: 40px 40px;
    text-align: center;
    color: white;
}

.date {
    float: right;
}

.night-entry {
    border-radius: 15px;
}